@using Cyb_lab.Options
@model PasswordPolicyOptions

@{
	ViewData["Title"] = "ChangePasswordPolicy";
}

<h1>ChangePasswordPolicy</h1>

<h4>PasswordPolicyOptions</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="ChangePasswordPolicy">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="RequiredLength" class="control-label"></label>
				<input asp-for="RequiredLength" class="form-control" />
				<span asp-validation-for="RequiredLength" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RequiredUniqueChars" class="control-label"></label>
				<input asp-for="RequiredUniqueChars" class="form-control" />
				<span asp-validation-for="RequiredUniqueChars" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="RequireNonAlphanumeric" /> @Html.DisplayNameFor(model => model.RequireNonAlphanumeric)
				</label>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="RequireLowercase" /> @Html.DisplayNameFor(model => model.RequireLowercase)
				</label>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="RequireUppercase" /> @Html.DisplayNameFor(model => model.RequireUppercase)
				</label>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="RequireDigit" /> @Html.DisplayNameFor(model => model.RequireDigit)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="ExpirationTime" class="control-label"></label>
				<input asp-for="ExpirationTime" class="form-control" />
				<span asp-validation-for="ExpirationTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Panel">Back to panel</a>
</div>

