@{
	ViewData["Title"] = "Admin panel";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>

	<a class="btn btn-secondary" asp-controller="Admin" asp-action="UserList">User List</a>
	<a class="btn btn-secondary" asp-controller="Admin" asp-action="ChangePasswordPolicy">Password Policy</a>
	<a class="btn btn-secondary" asp-controller="Admin" asp-action="Logs">Logs</a>
	<br />
	<a asp-controller="Home" asp-action="Index">Back</a>
</div>