@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <a asp-controller="Admin" asp-action="UserList">User List</a>
    <br />
    <a asp-controller="Admin" asp-action="PasswordPolicy">Password Policy</a>
</div>